.main {
    width: 100%;
    height: 100vh;
    background-color: #f1f5fb;
    display: flex;
    align-items: center;

    .content {
        width: calc(99% - 13em);
        height: 94%;
        margin-top: -1.5%;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid #c8ced3;
        border-radius: 10px;

        header {
            width: 100%;
            height: 5em;
            line-height: 5em;
            border-bottom: 1px solid rgb(128, 128, 128, 0.5);

            p {
                font-weight: bold;
                font-size: 2em;
                color: #2f353a;
                padding-left: 15px;
            }
        }

        .router {
            width: 100%;
            height: 90%;
        }
    }
}