    .logo {
        width: 13em;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        background-color: #f1f5fb;
        overflow: hidden;

        img {
            width: 80%;
        }
    }

    .sidebar {
        width: 13em;
        margin-top: 10vh;
        padding-bottom: 7.5vh;
        height: 90vh;
        color: black;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        &::-webkit-scrollbar-track {
            border-radius: 0;
        }

        li {

            p {
                display: flex;
                position: relative;
                font-size: 0.95em;
                color: #092e65;
                height: calc(100vh / (var(--item-count) + 6)); // 動態平均高度
                line-height: calc(100vh / (var(--item-count) + 6)); // 動態平均高度

                img {
                    width: 25px;
                }

                .icon {
                    margin: 0 15px 0 10px;
                }

                .arrow,
                .trunArrow {
                    position: absolute;
                    top: 50%;
                    right: 3.5px;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: transform 0.5s ease;
                }

                .trunArrow {
                    transform: translateY(-50%) rotate(90deg);
                }
            }

            a {
                display: inline-block;
                width: 100%;
            }

            ul {
                display: none;
                line-height: 2.75em;
                font-size: 0.9em;
                letter-spacing: 0.05em;
                color: #092e65;

                li {
                    width: 100%;

                    a {
                        padding-left: 50px;
                    }
                }

                .selected {
                    background-color: #092e65;
                    color: white;
                }
            }

            @keyframes active {
                0% {
                    height: 0;
                    overflow: hidden;
                    background-color: #f1f5fb;
                }

                100% {
                    line-height: 2.75em;
                }
            }

            .active {
                display: block;

                li {
                    animation: 1s active;
                }
            }
        }
    }